[Desktop Entry]
Name=AIDRAX Crystal
Comment=AIDRAX OS Violet Crystal Window Decoration
X-KDE-PluginInfo-Name=AIDRAX-Crystal
X-KDE-PluginInfo-Author=AIDRAX
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
